%h2 Social Fluff
	%ul
		%li
			%a.twitter{:title => 'twitter', :href => 'http://twitter.com/richarddowden'}>Twitter
		%li
			%a.facebook{:title => 'Facebook Profile', :href => 'http://facebook.com/richard.dowden'}>Facebook
		%li
			%a.flickr{:title => 'My Flickr Photos', :href => 'http://flickr.com/people/daffy/'}>Flickr
		%li
			%a.linkedin{:title => 'LinkedIn Profile', :href => 'http://uk.linkedin.com/in/richarddowden'}>LinkedIn
		%li
			%a.lastfm{:title => 'Last.fm profile', :href => 'http://last.fm/user/daffy_dowden'}>Last.fm
		%li
			%a.foursq{:title => 'FourSquare profile', :href => 'http://foursquare.com/user/-58044'}>Foursquare