%div{:class => ['col-4','side']}
	%div{:class => ['dark','cornered-box']}
		= render 'shared/skillset'
	%div{:class => ['dark','cornered-box']}
		= render 'shared/social_media'
#main{:class => ['col-8','white','cornered-box']}
	%h1 Blog
	%p Self-opinionated ramblings will go here, once I get around to writing them.