%div{:class => ['col-4','side']}
	%div{:class => ['dark','cornered-box']}
		= render 'shared/skillset'
	%div{:class => ['dark','cornered-box']}
		%h2 Social Fluff
		= render 'shared/social_media'
#main{:class => ['col-8','white','cornered-box']}
	%h1 About
	%p Currently deciding what to put on this page, without giving away enough information for you to steal my identity.