%div{:class => ['col-4','side']}
	%div{:class => ['dark','cornered-box']}
		= render 'shared/skillset'
	%div{:class => ['dark','cornered-box']}
		%h2 Social Fluff
		= render 'shared/social_media'
#main{:class => ['col-8','white','cornered-box']}
	%h1 Contact
	%p I'm currently working on a contact form for this page. But in the meantime contact me via any of the following services:
	%ul
		%li
			%a{:href => 'http://uk.linkedin.com/in/richarddowden'}>LinkedIn
		%li
			%a{:href => 'http://www.facebook.com/richard.dowden'}>Facebook
		%li
			%a{:href => 'http://twitter.com/richarddowden', :title => 'twitter'}>Twitter