#main
	#home-showcase
		#window
			%img{:src => '/images/portfolio/frontpage_meerkat.jpg', :width => '940', :height => '324', :alt => 'Frontpage Meerkat'}
		%p.description< 
			ComparetheMeerkat.com - 
			%a{:href => 'portfolio.html'} view more
	%p{:class => ['dark','border']}<
		I'm Richard Dowden, a web-developer residing in London. I'm still working on this site, but in the spirit of agile development I thought it best to release something. Besides it can't harm anyone can it? Unless you're browsing in ie6 that is&hellip;
	.boxes-3
		.box
			%h2 Last.fm
			%p An album, or an artist, will go here&hellip;
		.box.twitter-feed
			%h2 Tweets
			%h3.twitter-user @richarddowden
			%p#twitter_post Loading...
			%div#follow-richarddowden
		.box
			%h2 Social Networks
			= render 'shared/social_media'